<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<style>

p{

font-size: 20px;
}


</style>
</head>


<h1>People's voice home page </h1>

<p>Hello everyone welcome to the peoples voice website !</p>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<mn>2</mn>
          <mrow>
            <mrow>
              <mtext> </mtext>
              <mo>⁢</mo>
              <mi>p</mi>
            </mrow>
            <mo>−</mo>
            <mn>4</mn>
          </mrow>
          <mrow>
            <mtext> </mtext>
            <mo>⁢</mo>
            <mi>q</mi>
          </mrow>
        </mrow>
        <mrow>
          <mn>3</mn>
          <mrow>
            <mrow>
              <mtext> </mtext>
              <mo>⁢</mo>
              <mi>p</mi>
            </mrow>
            <mo>+</mo>
            <mi>q</mi>
          </mrow>
        </mrow>
      </mfrac>
      <mo>=</mo>
      <mfrac>
        <mn>1</mn>
        <mn>3</mn>
      </mfrac>
    </mrow>
    <mtext> </mtext>
  </mrow>
</math>

</html>
