{% extends "index.html" %}
{% block content %}
<div class="container">
<h1>Hello world</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptatibus dolores fugiat rem nihil eius perspiciatis, sit provident blanditiis dicta molestias distinctio amet dolore dignissimos quam facere quibusdam consectetur, mollitia reprehenderit asperiores in! Placeat illo eius numquam maiores fugiat! Ducimus, aliquam! Beatae perferendis porro voluptates voluptatum perspiciatis doloribus dolore, assumenda harum unde dolorem omnis, odio quam blanditiis nam eveniet dolorum. Odit dolores quia minus dolorem illo deleniti neque, officiis doloremque culpa quibusdam quae dicta veniam, vel quaerat quos magni laborum molestiae incidunt! Esse similique placeat ullam in reprehenderit quis dignissimos cumque </p>
</div>
{% endblock %}